html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,"Helvetica Neue",Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    color: #24292e;
    height: 100%;
}

h1 {
    box-sizing: border-box;
    color: rgb(36, 41, 46);
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 10px;
    margin-top: 0px;
}


a {
    text-decoration: none;
    color: rgb(105, 137, 199);
}


.blog-container {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.about-photo {
    max-width: 100%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 2px;
}


.sidebar {
    box-sizing: border-box;
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar .dats-me {
    width: 107px;
}

nav {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.666;
    color: rgb(35, 82, 124);
}

nav a:visited {
    color: rgb(105, 137, 199);
}

nav ul {
    text-decoration: none;
    list-style: none;
    text-align: right;
}

.footer {
    width: 960px;
    margin: 20px auto;
    padding-bottom: 20px;
}

.primary-content {
    flex: 1 1 auto;
}



@media only screen and (max-width: 963px) {

    .blog-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar {
        flex: 0 0 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sidebar .dats-me {
        width: 107px;
    }

    nav {
        width: 100%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(35, 82, 124);
    }

    nav ul {
       text-decoration: none;
       list-style: none;
       display: flex;
       justify-content: space-around;
       padding: 0;
       margin: 14px 0;
    }

    nav ul li {

    }

    .primary-content {
        flex: 1 1 auto;
        padding: 0 8px;
        width: 100%;
        box-sizing: border-box;
    }

    article {
        max-width: 100% !important;
    }

    .footer {
        width: 100%;
        box-sizing: border-box;
        padding-right: 30px;
        margin: 0 auto;
    }
}

.article-image {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light-link {
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(35, 82, 124);
}

.pop-section {
    display: flex;
    justify-content: space-between;
}

.pop-prev {
    max-width: 212px;
    margin-bottom: 12px;
}


@media only screen and (max-width: 670px) {
    .pop-section {
        display: flex;
        flex-wrap: wrap;

    }

    .pop-prev {
        width: 100%;
        flex: 1 1 auto;
        margin-bottom: 12px;
    }
}


.section-header {
    color: #b37259;
}

.copyright-notice {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    color: #24292e;
}

.archive-link {
    text-decoration: none;
    color: #24292e;
    padding-left: 16px;
}

.archive-link:visited {
    text-decoration: none;
    color: #24292e;
}

.image-pill {
    width: 53.333px;
    height: 30px;
    background-position: center;
    border: none;
    overflow: hidden;
    padding: .1% 0 0 0;
    position: relative;
}

.section {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    border: 1px solid #e6e6e6;
    border-bottom: none;
}

.section-last {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    border: 1px solid #e6e6e6;
    margin-bottom: 40px;
}

article {
    border: 1px solid #e6e6e6;
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    max-width: 768px;
}

article img {
    max-width: 100%;
}

.thumb-container {
    width: 212px;
    height: 100px;
    overflow: hidden;
    padding: 2.25% 0 0 0;
    position: relative;
    background: black;
}

.thumb-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    margin: auto;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}